# Database Configuration
DB_NAME=appdb
DB_USER=madanrayamajhi
DB_PASSWORD=madan@321$
DB_HOST=postgres
DB_PORT=5432

# Application Configuration
SPRING_PROFILES_ACTIVE=prod

ENV_FILE = "/home/ubuntu/.spring.env"